/* Define font faces properly */
@font-face {
  font-family: "HelveticaNeue";
  src: url("/fonts/helvetica-neue.ttc") format("truetype-collection"); /* TTC font */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Americana";
  src: url("/fonts/americana-regular.otf") format("opentype"); /* OTF font */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SemimoderBook";
  src: url("/fonts/selfmodern-book.ttf") format("truetype"); /* TTF font */
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-helvetica: "HelveticaNeue", sans-serif;
  --font-americana: "Americana", sans-serif;
  --font-semimoder: "SemimoderBook", sans-serif;
  --font-americana: "Americana", sans-serif;

  --font-color: #021b3a;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overscroll-behavior: none;
  color: var(--font-color);
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-helvetica);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  font-family: inherit;
  color: inherit;
  background-color: inherit;
  font-size: inherit;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
