.navbar {
  padding: 55px 68px;
  font-family: var(--font-semimoder);
  background: transparent;
  z-index: 100;
  position: fixed;
  /* top: 0; */
  /* left: 0; */
  width: 100%;
}
.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__left,
.navbar__right {
  display: flex;
  column-gap: 53px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.42px;
  align-items: center;
}
.nav_btn {
  padding: 10px 28px;
  border: 0.5px solid #000;
}
.navbar__left li,
.navbar__right li {
  position: relative;
}
.navbar__left li::after,
.navbar__right li::after {
  content: "";
  width: 8px;
  height: 1px;
  background-color: var(--font-color);
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
}
.navbar__left li.activeLink::after,
.navbar__right li.activeLink::after {
  visibility: visible;
}
