.footer_wrapper {
  padding: 68px 68px 57px;
  background-color: var(--font-color);
  color: var(--font-white);
}
.footer_container {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  justify-content: space-around;
}
.footer_left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 50%;
}
.footer_left h4 {
  color: var(--font-white);
  font-family: var(--font-americana);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%; /* 32px */
}
.footer_left a {
  justify-self: flex-start;
  align-self: flex-start;
}
.footer_contact {
  display: flex;
  gap: 72px;
}
.footer_contact_item {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer_contact_item a {
  color: #adadad;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 194%; /* 31.04px */
  letter-spacing: 0.48px;
}
.footer_contact_item_loc {
  display: flex;
  gap: 16px;
  color: #adadad;

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 194%; /* 31.04px */
  letter-spacing: 0.48px;
  max-width: 296px;
}
.footer_contact_item_loc img {
  margin-top: 3px;
}

.footer_icons {
  display: flex;
  gap: 12px;
}
.footer_icons a {
  /* padding: 14px; */
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--font-white);
}
.footer_right {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 50%;
  max-width: 545px;
}
.footer_news_letter h3 {
  font-family: var(--font-americana);
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 128%; /* 44.8px */
  text-transform: uppercase;
}
.footer_news_letter p {
  font-family: Sedan;
  font-size: 25px;
  font-style: italic;
  font-weight: 400;
  line-height: 128%; /* 32px */
}
.footer_news_letter input {
  border: none;
  border-bottom: 1px solid #949494;
  outline: none;
  background-color: transparent;
  padding-block: 21px;
  color: var(--font-white);
  width: 100%;
  max-width: 545px;
}
.footer_news_letter input::placeholder {
  font-family: var(--font-helvetica);
  color: #7a7a7a;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 194%; /* 31.04px */
  letter-spacing: 0.48px;
  padding-block: 21px;
}
.footer_news_letter button {
  color: #e3e3e3;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 194%; /* 31.04px */
  letter-spacing: 0.48px;
  margin-left: -60px;
}
.contact__bottom {
  color: #adadad;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  text-transform: capitalize;
}
.contact__bottom_right {
  color: #adadad;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 27.2px */
  text-transform: capitalize;
  margin-left: auto;
}
