.exper__wrapper {
  padding: 50px 68px;
}
.exper__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.expr_cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 11px;
  align-items: end;
}
.expr_card {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.expr_card_image {
  position: relative;
  width: 100%;
}
.card_content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* align-items: center; */
  justify-content: center;
  margin-bottom: 45px;
}
.card_content h5 {
  color: var(--small-text-color);
  text-align: center;
  font-family: var(--font-americana);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 146%;
  letter-spacing: 0.6px;
}
.card_content p {
  color: var(--description-color);
  font-family: var(--font-helvetica);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 179%; /* 28.64px */
  letter-spacing: 0.48px;
}
